@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;1,300&family=Montserrat&display=swap");
.curve {
  position: absolute;
  height: 225px;
  width: 100%;
  bottom: 0;
  z-index: 999;
}
.curve::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 0;
  width: 55%;
  height: 100%;
  background-color: white;
  transform: translate(85%, 60%);
}
.curve::after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 100% 50%;
  width: 95%;
  height: 100%;
  background-color: white;
  transform: translate(-44%, 60%);
  z-index: -1;
}
