.icons1 {
  display: none;
}
.icons2 {
  display: none;
}
.icons3 {
  display: none;
}
.icons4 {
  display: none;
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
  .icons1 {
    display: block;
    width: 3rem;
    height: 3rem;
    right: 160px;
    bottom: -1438px;
  }
  .icons2 {
    display: block;
    width: 3rem;
    height: 3rem;
    right: 120px;
    bottom: -1495px;
  }
  .icons3 {
    display: block;
    width: 3rem;
    height: 3rem;
    right: 120px;
    bottom: -1555px;
  }
  .icons4 {
    display: block;
    width: 3rem;
    height: 3rem;
    right: 160px;
    bottom: -1608px;
  }
  #model.open {
    animation: open 1s forwards !important;
  }

  @keyframes open {
    0% {
      transform: translate(-0%, -0%) scale(0);
    }
  }
  .close {
    animation-duration: 3s;
    animation-name: slidein;
    animation-iteration-count: 1;
  }
  @keyframes slidein {
    from {
      margin-left: 10%;
      width: 100%;
    }

    to {
      margin-left: 0%;
      width: 80%;
    }
  }
}
